[PSH_PATHS]
mc0 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc0
mc1 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc1
mc2 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc2
mc3 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc3
mc4 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc4
mc5 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc5
mc6 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc6
mc7 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc7
mc8 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc8
mc9 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc9
mc10 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc10
mc11 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc11
mc12 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc12
mc13 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc13
mc14 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc14
mc15 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc15
mc16 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc16
mc17 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc17
mc18 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc18
mc19 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc19
mc20 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc20
mc21 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc21
mc22 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc22
mc23 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc23
mc24 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_5x5/incomplete_psi/mc24

[CIRC_PARAMS]
lower left corner = -230.92 -199.98
upper right corner = 1616.44 1999.8
mosaic width = 1847.36
mosaic height = 2199.78
mosaic depth = 2081.75641787
mosaic center = 692.76 899.91
mc0 center = 0.0 0.0
mc1 center = 346.38 199.98
mc2 center = 692.76 0.0
mc3 center = 1039.14 199.98
mc4 center = 1385.52 0.0
mc5 center = 0.0 399.96
mc6 center = 346.38 599.94
mc7 center = 692.76 399.96
mc8 center = 1039.14 599.94
mc9 center = 1385.52 399.96
mc10 center = 0.0 799.92
mc11 center = 346.38 999.9
mc12 center = 692.76 799.92
mc13 center = 1039.14 999.9
mc14 center = 1385.52 799.92
mc15 center = 0.0 1199.88
mc16 center = 346.38 1399.86
mc17 center = 692.76 1199.88
mc18 center = 1039.14 1399.86
mc19 center = 1385.52 1199.88
mc20 center = 0.0 1599.84
mc21 center = 346.38 1799.82
mc22 center = 692.76 1599.84
mc23 center = 1039.14 1799.82
mc24 center = 1385.52 1599.84
sensor resolution = 512
sensor width = 1847.36
sensor height = 2199.78
