[PSH_PATHS]
mc2 = /gpfs/bbp.cscs.ch/scratch/gss/bgq/newton/circle_mc2/psi_sprites/mc2

[CIRC_PARAMS]
lower left corner = 115.463 399.96
upper right corner = 577.297 799.92
mosaic width = 461.834
mosaic height = 399.96
mosaic depth = 2081.756
mosaic center = 346.38 399.96
mc2 center = 346.38 599.94
sensor resolution = 512
sensor width = 1000
sensor height = 1000


